{% extends 'main.html' %}

{% block content %}

<div>
    {% comment %} In the form we're going to be sending data, the method needs to be a POST {% endcomment %}
    {% comment %} If I don't specify the action is going to send it to the current URL we're at {% endcomment %}
    <form method="POST" action="">
        {% comment %} When we send a POST in Django we need to pass this token, security stuff {% endcomment %}
        {% csrf_token %}
        {{ form.as_p }}
        {% comment %} <input type="text" name="name" placeholder="Room Name">
        <input type="text" name="topic.name" placeholder="Room Topic"> {% endcomment %}
        <input type="submit" value="Submit"/>
    </form>
</div>
{% endblock %}